@model IEnumerable<CrecheApp.Models.ChildModel>
<h4>Your children's details'</h4>
<hr>

<table class="table table-bordered table-info col-md-4 col-sm-2">
    
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                <a asp-action="EditChild" asp-route-id="@item.Id">Edit</a> 
                
                <a asp-action="DeleteChild" asp-route-id="@item.Id" asp-route-ParentId="@item.ParentId">Delete</a>
            </td>
        </tr>
}
        
    </tbody>
</table>
