@model IEnumerable<CrecheApp.Models.ForumModel>

@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>

<p>
    <a asp-action="CreateComment">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="card-header">
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
           @if (@item.UserId.Equals(User.Identity.Name))
           {
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="DeleteComment" asp-route-id="@item.CommentId">Delete</a>
            </td>
           }
        </tr>
}
    </tbody>
</table>
